<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">I like to help.</h2>
                <hr class="light">
                <p class="text-faded">I like to help improve product development processes, recruit and build product teams, add technical vision to strategic conversations, contribute to your open source project, or just be present and supportive of your cause.</p>
                <a href="/about" class="btn btn-default btn-xl">The story so far</a>
            </div>
        </div>
    </div>
</section>
