<section class="no-padding" id="projects">
    <div class="container-fluid">
        <div class="row no-gutter projects">
            {% assign maxCount = 6 %}
            {% assign counter = 0 %}
            {% assign sorted_projects = site.projects | sort: 'priority' %}
            {% for project in sorted_projects %}
            {% assign counter = counter | plus: 1 %}
            <div class="col-lg-4 col-sm-6">
                <a href="{{ project.link }}" class="portfolio-box shadow">
                    <img src="{{ project.image }}" class="img-responsive" alt="{{ project.name }}">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Project
                            </div>
                            <div class="project-name">
                                {{ project.name }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% if counter == maxCount %}
                {% break %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
