<section id="roles">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">You should see my hat rack.</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="role-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary"></i>
                    <h3>Code Shipper</h3>
                    <p class="text-muted">I build projects that ship, regularly and often, throughout the stack.</p>
                    <p><a href="/open-source">Open source work &raquo;</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="role-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Author</h3>
                    <p class="text-muted">You can also find my ideas and experiences in video training and live talks.</p>
                    <p><a href="/publications">Publications &raquo;</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="role-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Volunteer</h3>
                    <p class="text-muted">I've also got the ability and desire to make the people around me better.</p>
                    <p><a href="/volunteering">Volunteer experience &raquo;</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="role-box">
                    <i class="fa fa-4x fa-wrench wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Carpenter</h3>
                    <p class="text-muted">Life for me began as a carpenter, building scenery for theatrical productions.</p>
                    <p><a href="/theatre">Theatre experience &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
