.pagination {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 20px;

  .previous {
    grid-area: 1 / 1 / 1 / 2;
  }
  .divider {
    grid-area: 3 / 1 / 3 / 2;
  }
  .next {
    grid-area: 2 / 1 / 2 / 2;
  }

  a {
    font-family: var(--font-family-heading);
    font-weight: bold;
    font-size: 1.5rem;
    display: inline-block;
    text-wrap: balance;
    i {
      display: inline-block;
      vertical-align: middle;
    }
  }

  @include breakpoint('medium') {
    grid-template-columns: 1fr 10rem 1fr;
    align-items: center;
    .previous {
      grid-area: 1 / 1 / 1 / 2;
      text-align: right;
      padding-left: 10rem;
    }
    .divider {
      grid-area: 1 / 2 / 1 / 3;
      text-align: center;
      a span {
        display: none;
      }
    }
    .next {
      grid-area: 1 / 3 / 1 / 4;
      text-align: left;
      padding-right: 10rem;
    }
    a {
      font-size: 2rem;
    }
  }
}
