---
layout: markdown
---

{{ content }}

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Article",
    "author": {
        "@type": "Person",
        "name": "{{site.title}}"
    },
    "name": "{{page.title}}",
    "headline": "{{page.title}}",
    "datePublished": "{{page.date}}",
    "dateModified": "{{page.date}}",
    "image": {
      "@context": "http://schema.org",
      "@type": "ImageObject",
      "contentUrl": "{{page.image}}",
      "url": "{{page.image}}"
    },
    "publisher": "{{site.title}}",
    "description": "{{ page.description }}"
}
</script>
