---
layout: markdown
---

{{ content }}

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Article",
    "author": {
        "@type": "Person",
        "name": "{{site.title}}"
    },
    "name": "{{page.title}}",
    "headline": "{{page.title}}",
    "datePublished": "{{page.date}}",
    "dateModified": "{{page.date}}",
    "image": {
      "@context": "http://schema.org",
      "@type": "ImageObject",
      "contentUrl": "{{page.image}}",
      "url": "{{page.image}}",
      "height": 600,
      "width": 800
    },
    "publisher": {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "{{site.title}}",
        "logo": {
          "@context": "http://schema.org",
          "@type": "ImageObject",
          "contentUrl": "{{site.logo_label}}",
          "url": "{{site.logo_label}}",
          "height": 60,
          "width": 600
        }
    },
    "description": "{{ page.description }}",
    "mainEntityOfPage": "{{ site.url }}{{ page.url }}"
}
</script>
